<div class="modal fade" id="newTransactionModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-body-tertiary">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo movimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {{ form_start(transactionForm, {attr: {class: 'needs-validation'}}) }}
                <input type="hidden" name="_redirect_url" value="{{ redirectUrl }}">
                <div class="modal-body p-4">
                    {% include 'transaction/_form_transaction.html.twig' with {form: transactionForm} %}
                </div>
                <div class="modal-footer">
                    <a href="{{ path('recurring_create', {account: currentAccount.id}) }}" class="me-auto small text-decoration-none">
                        <i class="fa-solid fa-rotate me-1"></i>Añadir movimiento recurrente
                    </a>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            {{ form_end(transactionForm) }}
        </div>
    </div>
</div>
